html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga" on;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;

  /* 16px */
  font-size:100%;
  line-height:1.5;

  font-family: $base-font;
}

*,
*:before,
*:after {
  box-sizing:border-box !important;
}

:not(.wp-admin){
  html, body {
    margin: 0;
    padding: 0;
    min-height:100%;
  }
}

img {
  display: block;
  width:100%;
  height:auto;
}

