/* Sidebar
--------------------------------------------- */

.sidebar {
  @media( min-width:$lrg ) {
    float: right;
    width: 30%;
  }
}

.sidebar-content .sidebar {
  @media( min-width:$lrg ) {
    float: left;
  }
}