/* Footer Widgets
---------------------------------------------------------------------------- */

.footer-widgets {

	padding: $gutter $outer_gutter;
}

.footer-widgets .wrap {

}

.footer-widget-area {

}

.footer-widget-area:last-child,
.footer-widgets .widget:last-child {
	margin-bottom: 0;
}

.footer-widget-area {
  @media( min-width:$lrg ) {
    @apply flex;
  }
}

/* Site Footer
---------------------------------------------------------------------------- */

.site-footer {

}

.site-footer p {
  @apply text-sm;
	margin-bottom: 0;
}