/* Typographical Elements
--------------------------------------------- */

body {

}

a {
	color:$accent;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}

	svg {

	}
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

code,
pre {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
}

code {
	padding: 2px 4px;
	white-space: nowrap;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	line-height: 18px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
}

pre code {
	padding: 0;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0;
}

cite {
	font-style: normal;
}


/* Paragraph
--------------------------------------------- */

p {
	margin: 0 0 1rem;
	padding: 0;

}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  color:$black;
	font-family:$sans;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 1rem;

	a {
		color:$black;

		&:hover {
			color:$accent;
			text-decoration: none;
		}
	}

	&:focus {
		outline: none;
	}
}

h1 {
  font-size:$font-3xl;
}

h2 {
  font-size:$font-2xl;
}

h3 {
  font-size:$font-xl;
}

h4 {
  font-size:$font-lg;
}

h5 {
  font-size:$font-md;
}

h6 {
  font-size:$font-base;
}