{
  "env": {
     "es6": true,
     "browser": true,
     "node": true,
     "jquery": true
  },
  "extends": "airbnb",
  "rules": {
    "object-curly-newline": ["error", { "multiline": true, "minProperties": 4 }],
    "comma-dangle": 1,
    "no-unused-vars": 1
  }
}