$container: 1600px;
$columns: 6;
$gutter: 1rem;
$outer_gutter: 2rem;

// Fonts

$serif: "Times", serif;
$sans: "Helvetica", sans-serif;

$font-xs: 0.75rem;
$font-sm: 0.85rem;
$font-base: 1rem;
$font-md: 1.2rem;
$font-lg: 1.5rem;
$font-xl: 2rem;
$font-2xl: 2.25rem;
$font-3xl: 3rem;