html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga" on;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;

  /* 16px */
  font-size:100%;
  line-height:1.5;
}

*,
*:before,
*:after {
  box-sizing:border-box !important;
}

html, body {
  @apply m-0 p-0 min-h-full;
}

img {
  @apply block w-full;
  height:auto;
}

