/* Typographical Elements
--------------------------------------------- */

body {

}

a {
	@apply text-accent;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}

	svg {

	}
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

code,
pre {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
}

code {
	padding: 2px 4px;
	white-space: nowrap;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	line-height: 18px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
}

pre code {
	padding: 0;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0;
}

cite {
	font-style: normal;
}


/* Paragraph
--------------------------------------------- */

p {
	margin: 0 0 1rem;
	padding: 0;

  &.small,
	&.has-small-font-size {
    @apply text-sm;
  }

	&.medium,
	&.has-medium-font-size {
    @apply text-md;
  }

  &.large,
	&.has-large-font-size {
    @apply text-lg;
  }

  &.huge,
	&.has-huge-font-size {
    @apply text-xl;
	}

	&.has-normal-font-size {
		@apply text-base;
	}


}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply text-black font-sans;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 1rem;

	a {
		@apply text-black;

		&:hover {
			@apply text-accent;
			text-decoration: none;
		}
	}

	&:focus {
		outline: none;
	}
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-md;
}

h6 {
  @apply text-base;
}